<footer class="footer">
  <div class="container">
    <a href="mailto:{{ site.email }}">Bruncko</a> &copy;
  </div>
</footer>

<script src="bower/jquery/dist/jquery.js"></script>
<script src="js/app-compiled.js"></script>

<script>
    var config = {};
    app.init(config);
</script>

<script type='text/javascript' id="__bs_script__">//<![CDATA[
document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.9.2.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
//]]></script>
