<header class="header row">
    <div class="col-md-4 logo">
        <a href="{{site.baseurl}}">
            <img src="{{site.baseurl}}/www/img/logo.png">
            <span class="title">BRUNCKO</span>
            <hr>
            <span class="subtitle">Advokátní kancelář</span>
            <span class="spacing">Law office</span>
        </a>
    </div>

    <a href="#" id="menu-trigger" class="menu-toggle">
        <div class="pull-left">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        Menu
    </a>

    <div class="col-md-8">
        <div class="contact-info">
            <div class="cell">
                <span class="icon icon-phone" data-grunticon-embed></span>
                <strong>+420 735 881 874</strong><br/>
                <span class="icon icon-envelope" data-grunticon-embed></span><a href="mailto:advokat@bruncko.cz"><strong>advokat@bruncko.cz</strong></a>
            </div>
            <div class="cell text-center">
                <span class="icon icon-time" data-grunticon-embed></span>
                Po - Pá:
                <span>8:00&nbsp;-&nbsp;16:00</span>
            </div>
            <div class="cell address">
                <small class="pull-right text-right">
                    <span class="icon icon-home" data-grunticon-embed></span>
                    <strong>JUDr. Bc. Stanislav Bruncko, Ph.D.,<br/> advokátní kancelář<br/>
                    Vídeňská 849/15<br/>
                    639 00 Brno</strong>
                </small>
            </div>
        </div>

        <nav>
            <ul class="nav nav-pills">
                {% for link in site.navigation %}
                {% assign current = nil %}
                {% capture wholeurl %}{{ link.url }}/{% endcapture %}
                {% if page.url == wholeurl%}
                {% assign current = 'active' %}
                {% endif %}

                <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                    <a href="{{ link.url | prepend: site.baseurl}}">{{ link.text }}</a>
                </li>

                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
