<header class="header row">
  <div class="col-md-4 logo">
    <img src="www/img/logo.png">
    <span class="title">BRUNCKO</span>
    <hr>
    <span class="subtitle">Advokátní kancelář</span>
    <span class="spacing">Attorney at law</span>
  </div>
  <a href="#" id="menu-trigger" class="menu-toggle">
    <div class="pull-left">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    Menu
  </a>

  <div class="col-md-8">
    <div class="contact-info">
      <div class="cell">
        <span class="icon icon-phone" data-grunticon-embed></span><small>+420</small> <span class="blue">549 211 036</span><br/>
        <span class="icon icon-envelope" data-grunticon-embed></span><a href="mailto:bruncko@bruncko.cz">bruncko@bruncko.cz</a>
      </div>
      <div class="cell text-center">
        <span class="icon icon-time" data-grunticon-embed></span><small>Po - Pá:</small> <span class="blue">8:00 - 16:00</span>
      </div>
      <div class="cell address">
        <small class="pull-right text-right">
          <span class="icon icon-home" data-grunticon-embed></span>
          Stanislav Bruncko<br/>
          Jeřábkova 4564<br/>
          602 00 Brno
        </small>
      </div>
    </div>

    <nav>
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Úvod</a></li>
        <li role="presentation"><a href="#">Poskytované služby</a></li>
        <li role="presentation"><a href="#">Publikační činnost</a></li>
        <li role="presentation"><a href="#">Ceník</a></li>
        <li role="presentation"><a href="#">Kontakt</a></li>
      </ul>
    </nav>
  </div>


</header>