.icon-envelope { background-image: url('png/envelope.png'); background-repeat: no-repeat; }

.icon-fb { background-image: url('png/fb.png'); background-repeat: no-repeat; }

.icon-home { background-image: url('png/home.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-time { background-image: url('png/time.png'); background-repeat: no-repeat; }

